<nav class="nav-bar">
  <a class="logo" href="/"><img src="/assets/sandcamp_logo.svg"/></a>

 <div class="search-bar">
    <%= form_tag artists_path, method: "get", html: { class: "form" } do %>
    <div class="form-group col-xs-4 ">
      <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
      <%= submit_tag " ", class: "btn search-btn" %>
    </div>
    <%# <div class="dropdown-contents">
        <a class="dropdown-content" style="background-color:#F69C59;" href="https://bandcamp.com/tag/electronic">electronic <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#F3684C;" href="https://bandcamp.com/tag/metal/">metal <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#DA222F;" href="https://bandcamp.com/tag/rock/">rock <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#CE2F62;" href="https://bandcamp.com/tag/alternative/">alternative <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#B93698;" href="https://bandcamp.com/tag/hip-hop/rap/">hip-hop/rap <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#9157B8;" href="https://bandcamp.com/tag/experimental/">experimental <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#7667A8;" href="https://bandcamp.com/tag/punk/">punk <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#7B85C4;" href="https://bandcamp.com/tag/pop/">pop <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#7C9EBD;" href="https://bandcamp.com/tag/ambient/">ambient <i class="arrow right"></i></a>
        <a class="dropdown-content" style="background-color:#2D2D2D;" href="https://bandcamp.com/?t=undefined&g=all#discover">browse all <i class="arrow right"></i></a>
    </div> %>
    <% end %>
  </div>

  <div id="user-nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.<br/>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "My Collection", collections_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>

<p>Collection</p>

<div id="collection-section">
        
</div>