<nav class="nav-bar">
  <a class="logo" href="/"><img src="/assets/sandcamp_logo.svg"/></a>

 <div class="search-bar">
    <%= form_tag artists_path, method: "get", html: { class: "form" } do %>
    <div class="form-group col-xs-4 ">
      <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
      <%= submit_tag " ", class: "btn search-btn" %>
    </div>
    <% end %>
  </div>

  <div id="user-nav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.<br/>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "My Collection", collections_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
</nav>

<p><b>My Collections</b></p>

<div id="collection-section">
  <% for album in @collections%>
    <div class="collection">
      <b> <%= album.album_name %> </b>
      <br/>
      by <%= album.artist_name %>
      <br/>
    </div>
  <% end %>
</div>